@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

body{
    font-family: 'Oswald', sans-serif;
}
#menu{
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 4px;
    line-height: 75px;
}
#menu li{
    float: right;
    margin-right: 20px;
}
#menu a{
    text-decoration: none;
    color: inherit;
}
#profile-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 0;
    border: solid #000;
    border-width: 1px;
    border-radius: 50%;
}