@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

body{
    font-family: 'Oswald', sans-serif;
}
#menu{
    color: #777;
    display: inline-block;
    border: 0;
    float: left;
    margin-left: 20px;
}

#profile-image{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 0;
    border: solid #000;
    border-width: 1px;
    border-radius: 50%;
}