@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
nav ul{
    list-style: none;
    background-color: #444;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}
nav li{
    font-size: 1.5em;
    line-height: 40px;
    height: 30px;
    display: inline-block;
    margin: 2.5%;
}
nav a{
    text-decoration: none;
    color: #fff;
    display: block;
}
section{
    margin: 0;
    padding: 0;
}
.container{
    display: inline-grid;
    grid-template-columns: 230px 60% 300px;
    grid-template-rows: 230px 50px 50px 150px;
    grid-template-areas: "main middle info"
                         "name"
                         "profile"
                         "bio"
    }
    .item-a{
        grid-area: main;
        grid-column: 1;
        grid-row: 1/4;
    }
    .item-b{
        grid-area: name;
        align-items: center;
        grid-column: 1;
        grid-row: 2/4;
    }
    .item-c{
        grid-area: profile;
        align-items: center;
        grid-column: 1;
        grid-row: 3/4;
    }
    .item-d{
        grid-area: bio;
        grid-column: 1;
        grid-row: 4/4;
    }
    .item-e{
        grid-area: info;
        grid-column: 3;
        grid-row: 1/4;
    }
section h1{
    margin-left: 25px;
    padding-left: 25px;
    padding-right: 30px;
    text-transform: uppercase;
    color: rgb(255, 242, 242);
    position: relative;
    z-index: 2;
}
section h2{
    border: 1px;
    margin-left: 35px;
    padding-left: 35px;
    padding-right: 35px;
    color:#fff;
    position: relative;
    z-index: 2;
}
.brief{
    margin: 20px;
    opacity: 1;
    color: #fff;
    position: relative;
    z-index: 2;
}
#box{
    opacity: 0.75;
    padding-left: 20px;
    background-color: #444;
}
.right{
    margin: 20px;
    opacity: 1;
    color: #fff;
    position: relative;
    z-index: 2;
}
#top-right{
    padding-right: 30px;
    padding-left: 20px;
    opacity: 0.75;
    position: relative;
    background-color: #444;
    z-index: 2;
}
.background-image{
    background: url(../images/london.jpg) no-repeat;
    height: 480px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.bg-image{
    background: url(../images/parliament.jpg) no-repeat center;
    height: 480px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.bg-image2{
    background: url(../images/st-micheals-mount.jpg) no-repeat center;
    height: 480px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
#profile-image{
    width: 200px;
    height: 200px;
    margin: 0;
    margin-top: 20px;
    margin-left: 15px;
    border: solid #000;
    border-width: 1px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.foot{
    float: bottom;
    margin: 0;
    padding: 0;
    border: 0;
}
.contact{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px;
    float: left;
    position: bottom;
    display: inline-block;
}
.social-network{
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
}
.social-network li{
    display: inline;
}
.social-network li a{
    display: inline;
    font-size: 150%;
}
